# Normalización y encoding

El último paso para poder tener datos que sirvan de entrada para el modelo consiste en los siguientes pasos:

1. Dividir a variables de entrada en continuas y categóricas.
2. Normalizar las variables continuas (restar la media y dividir por el desvío estándar) usando [`StandardScaler`](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html?highlight=standardscaler#sklearn.preprocessing.StandardScaler).
3. A las variables categóricas se les aplica el [`LabelEncoder`](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html). Básicamente esto sirve para transformar las *n* categorías en etiquetas numéricas entre *0* y *n-1*. Estos números servirán luego como índices en las matrices de *Entity Embeddings* a la entrada del modelo.

In [1]:
import pandas as pd
import numpy as np
from pandas_summary import DataFrameSummary
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [2]:
df_train = pd.read_feather('preprocessed_dfs/all_preprocessed_train.fth')
df_test = pd.read_feather('preprocessed_dfs/all_preprocessed_test.fth')

Categorical variables

In [3]:
df_train.columns

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'Year', 'Month', 'Week', 'Day',
       'StoreType', 'Assortment', 'CompetitionDistance',
       'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2',
       'Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval',
       'CompetitionOpenSince', 'Promo2Since', 'State', 'file', 'week', 'trend',
       'Date_y', 'Month_y', 'Day_y', 'file_DE', 'week_DE', 'trend_DE',
       'Date_DE', 'State_DE', 'Month_DE', 'Day_DE', 'file_y',
       'Max_TemperatureC', 'Mean_TemperatureC', 'Min_TemperatureC',
       'Dew_PointC', 'MeanDew_PointC', 'Min_DewpointC', 'Max_Humidity',
       'Mean_Humidity', 'Min_Humidity', 'Max_Sea_Level_PressurehPa',
       'Mean_Sea_Level_PressurehPa', 'Min_Sea_Level_PressurehPa',
       'Max_VisibilityKm', 'Mean_VisibilityKm', 'Min_VisibilitykM',
       'Max_Wind_SpeedKm_h', 'Mean_Wind_SpeedKm_h', 'Max_Gust_SpeedKm_h',
       'Precipitationmm', 'CloudCover', 'Events', 'WindDirDegrees',
       'StateName', 'Year_y', 'Week_y', 'CompetitionDaysOpen',
       'CompetitionMonthsOpen', 'Promo2Days', 'Promo2Weeks',
       'StateHoliday_bool', 'AfterSchoolHoliday', 'BeforeSchoolHoliday',
       'AfterStateHoliday_bool', 'BeforeStateHoliday_bool', 'AfterPromo',
       'BeforePromo', 'SchoolHoliday_bw', 'StateHoliday_bool_bw', 'Promo_bw',
       'SchoolHoliday_fw', 'StateHoliday_bool_fw', 'Promo_fw'],
      dtype='object')

In [4]:
cat_vars = ['Store', 'DayOfWeek', 'Year', 'Month', 'Day', 'StateHoliday', 
            'CompetitionMonthsOpen', 'Promo2Weeks', 
            'StoreType', 'Assortment', 'PromoInterval', 
            'CompetitionOpenSinceYear', 'Promo2SinceYear', 
            'State', 'Week', 'Events', 'Promo_fw', 'Promo_bw', 
            'StateHoliday_bool_fw', 'StateHoliday_bool_bw', 'SchoolHoliday_fw', 
            'SchoolHoliday_bw']

DataFrameSummary(df_train[cat_vars]).summary().loc[['uniques', 'types', 'missing']].T

                         uniques        types missing
Store                       1115      numeric       0
DayOfWeek                      7      numeric       0
Year                           3      numeric       0
Month                         12      numeric       0
Day                           31      numeric       0
StateHoliday                   4  categorical       0
CompetitionMonthsOpen         25      numeric       0
Promo2Weeks                   26      numeric       0
StoreType                      4  categorical       0
Assortment                     3  categorical       0
PromoInterval                  4  categorical       0
CompetitionOpenSinceYear      21      numeric       0
Promo2SinceYear                8      numeric       0
State                         12  categorical       0
Week                          52      numeric       0
Events                        22  categorical       0
Promo_fw                       6      numeric       0
Promo_bw                       6      numeric       0
StateHoliday_bool_fw           3      numeric       0
StateHoliday_bool_bw           3      numeric       0
SchoolHoliday_fw               8      numeric       0
SchoolHoliday_bw               8      numeric       0

Continuous variables

In [5]:
contin_vars = ['CompetitionDistance', 
               'Max_TemperatureC', 'Mean_TemperatureC', 'Min_TemperatureC', 
               'Precipitationmm', 'Max_Humidity', 'Mean_Humidity', 'Min_Humidity', 
               'Max_Wind_SpeedKm_h', 'Mean_Wind_SpeedKm_h', 'CloudCover', 'trend', 
               'trend_DE', 'AfterStateHoliday_bool', 'BeforeStateHoliday_bool', 
               'Promo', 'SchoolHoliday', 'StateHoliday_bool']
DataFrameSummary(df_train[contin_vars]).summary().loc[['uniques', 'types', 'missing']].T

                        uniques    types missing
CompetitionDistance         654  numeric       0
Max_TemperatureC             50  numeric       0
Mean_TemperatureC            45  numeric       0
Min_TemperatureC             40  numeric       0
Precipitationmm              40  numeric       0
Max_Humidity                 52  numeric       0
Mean_Humidity                71  numeric       0
Min_Humidity                 93  numeric       0
Max_Wind_SpeedKm_h           42  numeric       0
Mean_Wind_SpeedKm_h          27  numeric       0
CloudCover                    9  numeric       0
trend                        67  numeric       0
trend_DE                     38  numeric       0
AfterStateHoliday_bool      136  numeric       0
BeforeStateHoliday_bool     147  numeric       0
Promo                         2     bool       0
SchoolHoliday                 2     bool       0
StateHoliday_bool             2     bool       0

Normalización en continuas y LabelEncode en Categoricas

In [6]:
from sklearn_pandas import DataFrameMapper

In [7]:
cat_maps = [(o, LabelEncoder()) for o in cat_vars]
contin_maps = [([o], StandardScaler()) for o in contin_vars]

In [8]:
mapper_cat = DataFrameMapper(cat_maps)
_ = mapper_cat.fit(df_train)

In [9]:
# Assortment es la novena posición en cat_maps
N = 10
print(list(zip(df_train['Assortment'].values[:N], mapper_cat.transform(df_train)[:,9][:N])))
# print(list(zip(df_train['Events'].values[:N], mapper_cat.transform(df_train)[:,15][:N])))
print(list(zip(df_train['Year'].values[:N], mapper_cat.transform(df_train)[:,2][:N])))

[('a', 0), ('a', 0), ('a', 0), ('c', 2), ('a', 0), ('a', 0), ('c', 2), ('a', 0), ('c', 2), ('a', 0)]
[(2015, 2), (2015, 2), (2015, 2), (2015, 2), (2015, 2), (2015, 2), (2015, 2), (2015, 2), (2015, 2), (2015, 2)]

In [10]:
mapper_cont = DataFrameMapper(contin_maps)
_ = mapper_cont.fit(df_train)

In [11]:
N = 10
print(df_train['CompetitionDistance'].values[:N])
print(mapper_cont.transform(df_train)[:, 0][:N])

[ 1270.   570. 14130.   620. 29910.   310. 24000.  7520.  2030.  3160.]
[-0.51104292 -0.59341201  1.00219483 -0.5875285   2.85902934 -0.62400624
  2.16359893  0.22439533 -0.42161363 -0.28864639]

In [12]:
# La hacemos con todas ahora
df_train[cat_vars] = mapper_cat.transform(df_train)
df_test[cat_vars] = mapper_cat.transform(df_test)

df_train[contin_vars] = mapper_cont.transform(df_train)
df_test[contin_vars] = mapper_cont.transform(df_test)

In [13]:
df_train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Year,...,AfterStateHoliday_bool,BeforeStateHoliday_bool,AfterPromo,BeforePromo,SchoolHoliday_bw,StateHoliday_bool_bw,Promo_bw,SchoolHoliday_fw,StateHoliday_bool_fw,Promo_fw
0,0,4,2015-07-31,5263,555,1,1.273237,0,2.144211,2,...,0.644376,1.072424,0,0,5,0,5,1,0,1
1,1,4,2015-07-31,6064,625,1,1.273237,0,2.144211,2,...,0.965073,1.072424,0,0,5,0,5,1,0,1
2,2,4,2015-07-31,8314,821,1,1.273237,0,2.144211,2,...,0.644376,1.072424,0,0,5,0,5,1,0,1
3,3,4,2015-07-31,13995,1498,1,1.273237,0,2.144211,2,...,0.965073,1.072424,0,0,5,0,5,1,0,1
4,4,4,2015-07-31,4822,559,1,1.273237,0,2.144211,2,...,0.644376,1.072424,0,0,5,0,5,1,0,1

In [14]:
DataFrameSummary(df_train[cat_vars]).summary().loc[['uniques', 'types']].T

                         uniques    types
Store                       1115  numeric
DayOfWeek                      7  numeric
Year                           3  numeric
Month                         12  numeric
Day                           31  numeric
StateHoliday                   4  numeric
CompetitionMonthsOpen         25  numeric
Promo2Weeks                   26  numeric
StoreType                      4  numeric
Assortment                     3  numeric
PromoInterval                  4  numeric
CompetitionOpenSinceYear      21  numeric
Promo2SinceYear                8  numeric
State                         12  numeric
Week                          52  numeric
Events                        22  numeric
Promo_fw                       6  numeric
Promo_bw                       6  numeric
StateHoliday_bool_fw           3  numeric
StateHoliday_bool_bw           3  numeric
SchoolHoliday_fw               8  numeric
SchoolHoliday_bw               8  numeric

In [15]:
DataFrameSummary(df_train[contin_vars]).summary().loc[["count", "mean", "std", "uniques", "types"]].T

                             count mean  std uniques    types
CompetitionDistance      1017209.0 -0.0  1.0     654  numeric
Max_TemperatureC         1017209.0 -0.0  1.0      50  numeric
Mean_TemperatureC        1017209.0 -0.0  1.0      45  numeric
Min_TemperatureC         1017209.0  0.0  1.0      40  numeric
Precipitationmm          1017209.0  0.0  1.0      40  numeric
Max_Humidity             1017209.0  0.0  1.0      52  numeric
Mean_Humidity            1017209.0  0.0  1.0      71  numeric
Min_Humidity             1017209.0  0.0  1.0      93  numeric
Max_Wind_SpeedKm_h       1017209.0  0.0  1.0      42  numeric
Mean_Wind_SpeedKm_h      1017209.0  0.0  1.0      27  numeric
CloudCover               1017209.0  0.0  1.0       9  numeric
trend                    1017209.0  0.0  1.0      67  numeric
trend_DE                 1017209.0  0.0  1.0      38  numeric
AfterStateHoliday_bool   1017209.0  0.0  1.0     136  numeric
BeforeStateHoliday_bool  1017209.0  0.0  1.0     147  numeric
Promo                    1017209.0  0.0  1.0       2     bool
SchoolHoliday            1017209.0 -0.0  1.0       2     bool
StateHoliday_bool        1017209.0 -0.0  1.0       2     bool

Final preprocessing

In [16]:
print(df_train.shape)
df_sales = df_train[df_train.Sales!=0]
print(df_sales.shape)

(1017209, 81)
(844338, 81)

In [17]:
df_test.reset_index(inplace=True)
df_sales.reset_index(inplace=True)

In [18]:
# save
df_sales.to_feather('preprocessed_dfs/train_normalized_data.fth')
df_test.to_feather('preprocessed_dfs/test_normalized_data.fth')

In [19]:
# Check
print((df_test['Open'] == 0).sum())
print((df_sales['Open'] == 0).sum())
print((df_train['CompetitionDistance'].isna()).sum())

5984
0
0